<!-- <div class="banner">
    <img src="images/BlackBanner.svg" class="banner">
      <img src="images/BannerLogo.svg" class="inner_logo" />
      <a class="sign_out_button">Sign Out</a>
    </img>
    </div> -->

<div class="navbar-fixed">
    <nav class="navbar black center-align">
        <div class="navbar-wrapper row">
                <img src="images/BannerLogo.svg" class="col s3 push-s5 inner_logo" />
                <a class="col push-s7 s1.75 btn-small sign_out_button">Sign Out</a>
        </div>
    </nav>
</div>