<div class="navbar-fixed">
    <nav class="navbar black center-align">
        <div class="navbar-wrapper row">
            <div class="col s2 push-s5">
                <img src="images/BannerLogo.svg" class="inner_logo btn-small" />
            </div>
            <div class="col push-s9 s1">
                <a class="btn-small sign_out_button">Sign Out</a>
            </div>
        </div>
    </nav>
</div>
