<div class="row row1 valign-wrapper">
  <div class="col s9 push-s1">
    <span class="flow-text">Manage Notifications</span>
  </div>
  <div class="col switch s3 push-s1 valign-wrapper">
    <label>
      Calendar View
      <input type="checkbox">
      <span class="lever"></span>
    </label>
  </div>
</div>
<div class="row valign-wrapper">
  <a class="col push-s1 s1.75 add_notification btn-small">+ Add Notification</a>
  <div class="input-field col s5 valign-wrapper">
    <span class="label_text">Showing notifications from</span>
    <select>
      <option value="" disabled selected>Date</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <span class="label_text">to</span>
    <select>
      <option value="" disabled selected>Date</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
</div>
<div class="row">
</div>
