<div class="col s12 row1">
    <div class="col s12">
        <div class="col s9">
            <span class="flow-text">Manage Notifications</span>
        </div>
        <div id="viewSwitch" class="col switch s3 right-align">
            <label>
                Calendar View
                <input type="checkbox">
                <span class="lever"></span>
            </label>
         </div>
    </div>
</div>
