<div class="col s12 row1">
    <div class="col s12">
        <div class="col s9">
            <span class="flow-text">Manage Notifications</span>
        </div>
        <div id="viewSwitch" class="col switch s3 right-align">
            <label>
        Calendar View
        <input type="checkbox">
        <span class="lever"></span>
        </label>
        </div>
    </div>
    <div class="col s12 valign-wrapper">
        <div class="col s7">
            <a class="col s1.75 add_notification btn-small">+ Add Notification</a>
        </div>
        <div class="input-field col s5">
            <div class="col s12 right-align valign-wrapper">
                <span class="label_text col s6">Showing notifications from</span>
                <input type="date" class="col s3 text-box" />
                <span class="label_text col s1">to</span>
                <input type="date" class="col s3 text-box" />
            </div>
        </div>
    </div>
</div>