.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    margin-top: 12.5vh;
    position: relative;
}

.login-bar{
    padding-left: 4vh;
    margin-left: 32vw; 
    border-radius: 5vh;
    margin-top: 7.5vh;
    width: 34vw;
    height: 8vh;
    font-size: 2.75vh;
    color: rgb(63, 63, 63);
    border-style: solid;
    border-color:rgb(33, 34, 37);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(169,37,138,1) 70%, rgba(169,37,138,1) 100%);
    font-style: italic;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
}

.login-button{
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 2.95vh;
    font-weight: 625;
    margin-left: 59.5vw;
    position: absolute;
    margin-top: -6.25vh;
}