<!DOCTYPE html>
<html>
  <link href="stylesheet/dashboard.css" rel="stylesheet" type="text/css">  
    <head>
        <title>
        </title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="javascripts/jquery/jquery.min.js"></script>
        <script src="javascripts/datatable/datatable.min.js"></script>
        <script src="javascripts/materializejs/materialize.min.js"></script>
        <script src="javascripts/uiheader.js"></script>
    </head>
    <body>
      <header>
        <%- include('../components/banner.ejs') %>
      </header>
      <main>
      <div class="container">
      <div class="row row1">
        <div class="col s9 push-s1">Manage Notifications</div>
        <div class="col switch s2">
          <label>
            Calendar View
            <input type="checkbox">
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="row row2">
        <a class="col offset-s9 s1.75 add_notification btn-small">+ Add Notification</a>
      </div>
      <div class="row row3">
        <div class="col s1.5 offset-s6">Showing notifications from</div>
        <div class="input-field col s1">
          <select>
            <option class="height" value="" disabled selected>Date</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>      
        <div class="col s1.5">to</div>
        <div class="input-field col s1">
          <select>
            <option value="" disabled selected>Date</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
      </div>
      </div>
      </main>
    </body>
</html>