<!DOCTYPE html>
<html>
  <link href="stylesheet/dashboard.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
 
  <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
  
    <head>
        <title>
        </title>
    </head>
    <body class="dashboard-page">
      <div class="banner">
      <img src="stylesheet/BlackBanner.svg" class="banner">
        <img src="stylesheet/BannerLogo.svg" class="inner-logo" />
      </img>
      </div>
      <div class="headers">
      </div>
      <div class="table">
      </div>
    </body>
</html>