<!DOCTYPE html>
<html>
  <link href="stylesheet/login.css" rel="stylesheet" type="text/css">
    <head>
        <title>
        </title>
    </head>
    <body class="login-page">
      <div class="container">
      <img src="stylesheet/OG_YOGA_logo.svg" class="logo"/>
        <form>
            <p>
              <input type="text" value="Enter Code" name="code" class="login-bar">
              <input type="submit" value="Login" class="login-button">
            </p>
          </form>
          </div>
    </body>
</html>